.dashboard {
    position: relative;
    width: 100%;

    &__title {
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    &__employees {

        &__header {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button {
                height: 30px;
                padding: 0 20px;
                font-size: 12px;
                background: linear-gradient(to right, var(--color-primary-hv), var(--color-primary));
            }
        }

        &__button-action {
            background-color: transparent;
            margin: 0 5px;
            padding: 5px;

            img {
                height: 15px;

            }
        }
    }

    &__content {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        height: 350px;
        margin-bottom: 15px;

        &__card {
            display: grid;
            grid-template-rows: 70px auto;
            gap: 8px;
            padding: 20px;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);

            &__header {
                h2 {
                    margin: 5px 0;
                }

                span {
                    width: 100%;
                    font-size: 12px
                }

                ;
            }
        }
    }

    &__form {
        display: flex;
        width: 100%;
        height: calc(100% - 290px);
        overflow-y: scroll;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        &::-webkit-scrollbar {
            display: none;
        }

        &__field {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__label {
            font-weight: 500;
            color: var(--color-text);
        }

        &__select {
            border: 2px solid #F2F4F4;
            margin: 10px 0;
            border-radius: 8px;

            >div>span {
                font-family: Poppins;
                font-weight: 200;
                letter-spacing: 1.3px;
                color: var(--color-spun-pearl);
            }
        }

        &__date {
            border-width: 2px;
            margin: 10px 0;
            border-radius: 8px;

            >div>input {
                font-family: Poppins !important; 
                font-weight: 200;
                letter-spacing: 1.3px;
                color: var(--color-spun-pearl) !important;
            }
        }

        &__button {
            width: 90%;
            padding: 10px;
            margin-top: 30px;
            border-width: 0;
            background-color: #566573;
            color: white;
            font-size: 20px;
            border-radius: 8px;
        }
    }
}