.PublicLayout {
    display: flex;
    width: 100%;

    background: linear-gradient(to top, var(--color-primary), var(--color-background), white);
    background-repeat: no-repeat;
    background-attachment: fixed;

    flex-direction: column-reverse;
    flex: 1;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% - 80px);
        flex: 3;
        border-radius: 30px 30px 0px 0px;
        z-index: 1;
        background-color: white;
        padding: 40px;
    }

    &__logo-container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        img {
            width: 90vw;
        }
    }
}

@media screen and (min-width: 600px) {
    .PublicLayout {
        flex-direction: row;
        padding: 50px 100px;

        &__content {
            width: 350px;
            padding: 30px;
            flex: none;
            border-radius: 30px;

            box-shadow: 9px 0PX 0px var(--color-primary-hv)
        }

        &__logo-container {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;

            img {
                transform: rotate(90deg);
                width: 90vh;
            }
        }
    }
}