@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;

  // color-scheme: light dark;
  color: var(--color-text);
  // background-color: #f9f9f9;

  --color-primary: #FF2C38; 
  --color-primary-hv: #A40101; 
  --color-secondary: #7775FF;
  --color-melrose-light: #BAADFF;
  --color-text: #272d33;
  --color-input-border: #aaa9bb;
  --color-background:#FBF7FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-primary-hv);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color:var(--color-primary-hv);
  }

}

input {
  background-color: var(--color-background);
  border-radius: 8px;
  color: var(--color-input-border);
  border: 2px solid var(--color-input-border);
  font-family: Poppins;
  padding: 5px 5px 5px 15px;
  font-weight: 200;
  letter-spacing: 1.3px;
  transition: all .25s ease;

  &:valid{
    border: 2px solid var(--color-primary);
  }
  
  &:hover{
    border: 2px solid var(--color-primary-hv);
  }
  &:focus-visible {
    border: 2px solid var(--color-primary);
    outline: none;
  }
}


// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }

//   a:hover {
//     color: #747bff;
//   }

//   button {
//     background-color: #f9f9f9;
//   }
// }
