.protected-layout {
    display: flex;
    width: 100%;
    flex: 1;
    overflow: hidden;
    flex-direction: column;

    &__navBar {
        align-items: center;
        background-color: var(--color-primary);
        display: flex;
        flex-direction: row;
        height: 60px;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;

        &__user {
            display: flex;
            flex-direction: column;
            text-align: right;
            margin: 0 10px;
            text-decoration: none;
            font-size: 20px;
            color: var(--color-text);
            font-weight: 500;

            .subtitle {
                font-size: 14px;
                color: var(--color-primary);
                font-weight: 200;
            }
        }

        &__menu {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 0;
        }

        &__logo-container {
            display: flex;
            align-items: center;
            background-color: var(--color-primary-hv);
            width: 250px;
            height: 100%;

            img {
                width: 250px;
            }
        }

    }

    &__container {
        display: flex;
        margin-top: 60px;
        flex: 1;
        flex-direction: row;
        overflow: hidden;
    }

    &__side-bar {
        display: flex;
        flex-direction: column;
        // overflow: hidden;    
        width: 250px;
        justify-content: space-between;
        background-color: var(--color-background);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 1;

        transition: width .2s ease;

        &__menu {
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 250px;
        }

        &__sub-menu {
            display: grid;
            grid-template-rows: 40px;
            position: relative;
            overflow: hidden;
            height: 0px;
            transition: 0.5s;

            &--open {
                @extend .protected-layout__side-bar__sub-menu;
                height: 120px;
            }
        }

        &__subitem {
            display: flex;
            align-items: center;
            padding-left: 50px;
            height: 40px;
            transition: 0.5s;
            color: var(--color-text);
            &--active{
                color: var(--color-primary);
            }
        }

        &__item {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            font-size: 15px;
            color: var(--color-text);
            background: linear-gradient(to left, var(--color-primary-hv), var(--color-primary)) var(--color-primary);
            padding: 5px 15px;

            transition: all .2s ease;

            img {
                width: 30px;
                height: 30px;
            }

            button{
                padding: 0px;
                display: grid;
                place-items: center;
                background-color: transparent;
            }

            &:hover {
                background-color: var(--color-primary-hv);
                color: white;
            }

            &--active {
                transform: scale(1.02);
                letter-spacing: 1.5px;
                font-weight: bold;
                background: var(--color-primary-hv);
                
                color: white;
                transition: all .2s ease;

                &:hover {
                    background: var(--color-primary);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
                }
            }
        }

        &__log-out {
            background-color: transparent;
            border-radius: 0;
            border-top: 2px solid var(--color-text);
        }
    }

    &__content {
        display: flex;
        width: 100%;
        flex: 1;
        background-color: white;
        justify-content: center;
        align-items: center;
    }
}